@page
@model TriviaBotT5.Pages.Leaderboard.teamModel
@{
    ViewData["Title"] = "Team Leaderboard";
}
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha384-VC7EHu0lDzZyFfmjTPJq+DFyIn8TUGAJbEtpXquazFVr00Q/OOx//RjiZ9yU9+9m" crossorigin="anonymous"></script>
<!-- Microsoft Teams JavaScript API (via CDN) -->
<script src="https://unpkg.com/@@microsoft/teams-js@1.3.4/dist/MicrosoftTeams.min.js" integrity="sha384-3zTjxw3msc6gKx3DseSU0lfRM129YrFjr2xgocfMIN/kBCdzJ88d+FSB1n3scUku" crossorigin="anonymous"></script>

<h2>Welcome to <span id="teamName"></span> Dashboard</h2>
<style>

    table.blueTable {
        border: 1px solid #1C6EA4;
        background-color: #EEEEEE;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }

        table.blueTable td, table.blueTable th {
            border: 1px solid #AAAAAA;
            padding: 3px 2px;
        }

        table.blueTable tbody td {
            font-size: 13px;
        }

        table.blueTable tr:nth-child(even) {
            background: #D0E4F5;
        }

        table.blueTable thead {
            background: #1C6EA4;
            background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            border-bottom: 2px solid #444444;
        }

            table.blueTable thead th {
                font-size: 15px;
                font-weight: bold;
                color: #FFFFFF;
                border-left: 2px solid #D0E4F5;
            }

                table.blueTable thead th:first-child {
                    border-left: none;
                }

        table.blueTable tfoot {
            font-size: 14px;
            font-weight: bold;
            color: #FFFFFF;
            background: #D0E4F5;
            background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
            background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
            background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
            border-top: 2px solid #444444;
        }

            table.blueTable tfoot td {
                font-size: 14px;
            }

            table.blueTable tfoot .links {
                text-align: right;
            }

                table.blueTable tfoot .links a {
                    display: inline-block;
                    background: #1C6EA4;
                    color: #FFFFFF;
                    padding: 2px 8px;
                    border-radius: 5px;
                }
</style>
<script type="text/javascript">
    microsoftTeams.initialize();

    microsoftTeams.authentication.authenticate({
        url: window.location.origin + "/Leaderboard/InitiateAuthFlow",

        successCallback: function (result) {
            getUserProfile(result.accessToken);
        },
        failureCallback: function (reason) {
            handleAuthError(reason);
        }
    });

   microsoftTeams.getContext(function (context) {
       //alert("getcontext call back function");
       this.teamName = context.teamName;

       $('#teamName').html(this.teamName);
       this.groupID = context.groupId;
       this.teamID = context.teamId;
        console.log(context);
       login();
       setupLeaderBoard(context);
    }); 



    function setupLeaderBoard(context) {

        var postData = {
            "teamId": context.teamId,
            "channelId": context.channelId,
            "locale": context.locale,
            "theme": context.theme,
            "entityId": context.entityId,
            "subEntityId": context.subEntityId,
            "upn": context.userPrincipalName,
            "tid": context.tid,
            "groupId": context.groupId
        }

        $.ajax({
            type: "POST",
            data: JSON.stringify(postData),
            contentType: "application/json; charset=UTF-8",
            url: "https://msopenhack.azurewebsites.net/api/trivia/leaderboard/team",
            beforeSend: function (request) {
                //request.setRequestHeader("Authorization", "Bearer " + accessToken);
            },
            success: function (data) {
                buildLeaderBoard(context, data);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                $("#divError").text(errorThrown).css({ display: "" });
                $("#divProfile").css({ display: "none" });
            },
        });
    }

    function buildLeaderBoard(context, boardData) {
        console.log(boardData)

        $('#leaderBoard').html('');;

        $('#leaderBoard').append("<table border='2' class='blueTable'>");
        $('#leaderBoard').append("<thead><tr><th>Name</th><th>Score</th></tr></thead>");

        var tr = "<tbody>";
        $.each(boardData, function (i, item) {
            tr += "<tr><td>" + item.name + "</td><td>" + item.score + "</td></tr>";
        });
        $('#leaderBoard').append(tr);
        $('#leaderBoard').append("</tbody></table>")
        /*$("#profileDisplayName").text(profile.displayName);
        $("#profileJobTitle").text(profile.jobTitle);
        $("#profileMail").text(profile.mail);
        $("#profileUpn").text(profile.userPrincipalName);
        $("#profileObjectId").text(profile.id);
        $("#divProfile").css({ display: "" });
        $("#divError").css({ display: "none" });*/
    }

    // Login to Azure AD and get access to Microsoft Graph
    function login() {
        hideProfileAndError();

        microsoftTeams.authentication.authenticate({
            url: window.location.origin + "/Leaderboard/InitiateAuthFlow",
            width: 600,
            height: 535,
            successCallback: function (result) {
                console.log("Login succeeded: " + result);
                getUserProfile(result.accessToken);
            },
            failureCallback: function (reason) {
                console.log("Login failed: " + reason);
                handleAuthError(reason);
            }
        });
    }

    // Get the user's profile information from Microsoft Graph
    function getUserProfile(accessToken) {
        $.ajax({
            url: "https://graph.microsoft.com/v1.0/me/",
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "Bearer " + accessToken);
            },
            success: function (profile) {
                $("#profileDisplayName").text(profile.displayName);
                $("#profileJobTitle").text(profile.jobTitle);
                $("#profileMail").text(profile.mail);
                $("#profileUpn").text(profile.userPrincipalName);
                $("#profileObjectId").text(profile.id);
                $("#divProfile").css({ display: "" });
                $("#divError").css({ display: "none" });
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                $("#divError").text(errorThrown).css({ display: "" });
                $("#divProfile").css({ display: "none" });
            },
        });
    }

    // Show error information
    function handleAuthError(reason) {
        $("#divError").text(reason).css({ display: "" });
        $("#divProfile").css({ display: "none" });
    }

    // Clear all information in tab
    function hideProfileAndError() {
        $("#divError").text("").css({ display: "none" });
        $("#divProfile").css({ display: "none" });
    }



</script>



<!-- Login button -->
<!-- <button onclick="login()">Login to Azure AD</button> -->

<!-- Result -->
<p>


    <div>
        <div><h3>Team Leaderboard</h3></div>

        <div id="leaderBoard"></div>

    </div>

    <div id="divError" style="display: none"></div>
    <div id="divProfile" style="display: none">
        
        <div><h3>My AD User Profile</h3></div>
        <div><b>Name:</b> <span id="profileDisplayName" /></div>
        <div><b>Job title:</b> <span id="profileJobTitle" /></div>
        <div><b>E-mail:</b> <span id="profileMail" /></div>
        <div><b>UPN:</b> <span id="profileUpn" /></div>
        <div><b>Object id:</b> <span id="profileObjectId" /></div>
    </div>
</p>